@model Order

@{
    ViewData["Title"] = "Dodaj nowe zamówienie";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group w-50">
        <label for="OrderDate">Data zamówienia:</label>
        <input asp-for="OrderDate" class="form-control" type="date" />
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>
    <button type="submit" class="mt-3 btn btn-primary">Dodaj</button>
</form>
