@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1 class="mb-4">Polityka prywatności</h1>

<h4>1. Informacje ogólne</h4>
<p>
    Witamy na stronie internetowej sklepu spożywczego. Poniżej przedstawiamy naszą politykę prywatności, która opisuje, jak gromadzimy, używamy i chronimy Twoje dane osobowe.
</p>

<h4>2. Rodzaje gromadzonych informacji</h4>
<p>
    Sklep spożywczy gromadzi różne rodzaje informacji, w tym dane osobowe, takie jak imię, nazwisko, adres e-mail, numer telefonu oraz informacje dotyczące zamówień.
</p>

<h4>3. Udostępnianie informacji</h4>
<p>
    Sklep spożywczy nie udostępnia Twoich danych osobowych stronom trzecim bez Twojej zgody, z wyjątkiem sytuacji wymaganych przepisami prawa.
</p>

<h4>4. Bezpieczeństwo danych</h4>
<p>
    Dbamy o bezpieczeństwo Twoich danych osobowych i stosujemy odpowiednie środki techniczne i organizacyjne w celu ochrony przed nieautoryzowanym dostępem, utratą czy nieuprawnionym ujawnieniem.
</p>

<h4>5. Kontakt</h4>
<p>
    W przypadku pytań dotyczących naszej polityki prywatności prosimy o kontakt pod adresem: <a href="mailto:kontakt@sklep-spozywczy123.pl">kontakt@sklep-spozywczy123.pl</a>.
</p>
